@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.body {
  min-height: 100vh;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.body__dark {
  background-color: #1e202a;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 35vh;
  padding-top: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f5f7ff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .separator {
  width: 80%;
  height: 1px;
  margin: 10px 0px;
  background-color: #252a41;
  display: none;
}

.header .navbar p {
  color: #8b97c6;
  font-weight: 700;
  font-size: 14px;
}

.header .navbar .title-box h1 {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.header .navbar .switcher-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .switcher-box p {
  margin-right: 10px;
}

.header .navbar .switcher-box .theme-switcher {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  border: none;
  background-color: #aeb3cb;
  position: relative;
  cursor: pointer;
}

.header .navbar .switcher-box .theme-switcher span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f5f7ff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header .navbar .switcher-box .theme-switcher span.active {
  left: 2px;
}

.header__dark {
  background-color: #1f212e;
}

.header__dark .navbar .title-box h1 {
  color: white;
}

.header__dark .navbar .switcher-box .theme-switcher {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), color-stop(50%, #3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82 50%);
}

.header__dark .navbar .switcher-box .theme-switcher span {
  background-color: #1f212e;
}

.header__light {
  background-color: #f5f7ff;
}

.header__light .navbar .title-box h1 {
  color: #1e202a;
}

@media (min-width: 1400px) {
  .header {
    height: 25vh;
  }
}

@media (min-width: 740px) and (max-width: 930px) {
  .header {
    padding: 20px;
  }
}

@media (max-width: 740px) {
  .navbar {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .title-box {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .title-box h1 {
    font-size: 20px;
  }
  .navbar .switcher-box {
    padding: 10px 0px;
    width: 100%;
  }
}

.stats .card::after, .stats .card__fb::after, .stats .card__tw::after, .stats .card__ig::after, .stats .card__yt::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.stats .card {
  background-color: #f0f2fa;
  border-radius: 5px;
  padding: 40px 50px 20px 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.stats .card:hover {
  background-color: #e5e8f6;
}

.stats .card__fb::after {
  background-color: #198ff5;
}

.stats .card__tw::after {
  background-color: #1ca0f2;
}

.stats .card__ig::after {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.stats .card__yt::after {
  background-color: #c4032a;
}

.stats .card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .card .card-head img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.stats .card .card-head a {
  text-decoration: none;
  color: #63687e;
  font-weight: 700;
}

.stats .card .card-body {
  margin-top: 20px;
  text-align: center;
}

.stats .card .card-body p:first-child {
  font-size: 52px;
  font-weight: 700;
}

.stats .card .card-body p:last-child {
  font-size: 14px;
  text-transform: uppercase;
  color: #63687e;
  letter-spacing: 2.5px;
}

.stats .card .card-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .card .card-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}

.stats .card .card-footer p {
  font-size: 12px;
  font-weight: 700;
  color: #1db489;
}

.stats .card .card-footer__yt p {
  color: #dc414c;
}

.stats .card__dark {
  background-color: #252a41;
}

.stats .card__dark:hover {
  background-color: #2e3552;
}

.stats .card__dark .card-body p:first-child {
  color: white;
}

@media (min-width: 740px) and (max-width: 930px) {
  .stats {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    padding: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .stats .card {
    width: 45%;
    margin-bottom: 10px;
  }
}

@media (max-width: 740px) {
  .stats {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    padding: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .stats .card {
    width: 45%;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .stats {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .stats .card {
    width: 100%;
    margin-bottom: 10px;
  }
}

.overview-title {
  font-size: 20px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  color: #63687e;
}

.overview-title__dark {
  color: white;
}

.overview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.overview .view-card {
  background-color: #f0f2fa;
  border-radius: 5px;
  padding: 20px;
  width: 23%;
  margin-top: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.overview .view-card:hover {
  background-color: #e5e8f6;
}

.overview .view-card .view-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.overview .view-card .view-head img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}

.overview .view-card .view-head p {
  font-size: 14px;
  font-weight: 700;
  color: #63687e;
}

.overview .view-card .view-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.overview .view-card .view-footer span {
  font-weight: 700;
  font-size: 36px;
}

.overview .view-card .view-footer small {
  color: #1db489;
  font-weight: 700;
}

.overview .view-card .view-footer small.danger {
  color: #dc414c;
}

.overview__dark .view-card {
  background-color: #252a41;
}

.overview__dark .view-card:hover {
  background-color: #2e3552;
}

.overview__dark .view-card .view-footer span {
  color: white;
}

@media (min-width: 740px) and (max-width: 930px) {
  .overview-title {
    padding: 0px 40px;
  }
  .overview {
    padding: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .overview .view-card {
    width: 45%;
  }
}

@media (max-width: 740px) {
  .overview-title {
    padding: 0px 20px;
  }
  .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .overview .view-card {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */