@import './vars';
@import './mixins';

.overview-title {
    font-size: 20px;
    transform: translateY(-50px);
    color: $dark-grayish-blue;

    &__dark {
        color: $white;
    }
}

.overview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(-50px);
    transition: all .2s ease-in-out;

    .view-card {
        background-color: $light-grayish-blue;
        border-radius: 5px;
        padding: 20px;
        width: 23%;
        margin-top: 20px;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: hsl(227, 47%, 93%);
        }

        .view-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
                margin-right: 5px;
            }

            p {
                font-size: 14px;
                font-weight: 700;
                color: $dark-grayish-blue;
            }
        }

        .view-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            span {
                font-weight: 700;
                font-size: 36px;
            }

            small {
                color: $lime-green;
                font-weight: 700;

                &.danger {
                    color: $brigh-red;
                }
            }
        }
    }

    &__dark {
        .view-card {
            background-color: $dark-desaturated-blue;

            &:hover {
                background-color: hsl(228, 28%, 25%);
            }

            .view-footer {
                span {
                    color: $white;
                }
            }
        }
    }
}

@include for-tablet-lg {

    .overview-title {
        padding: 0px 40px;
    }

    .overview {
        padding: 20px;
        justify-content: space-around;

        .view-card {
            width: 45%;
        }
    }
}

@include for-tablet {

    .overview-title {
        padding: 0px 20px;
    }

    .overview {
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        .view-card {
            width: 100%;
        }
    }
}